/videotest/Debug/
/videotest/Release/
/videotest/videotest2/Debug/
/videotest/videotest2/Release/
*.sdf
*.dll
*.aps
*.opensdf
*.suo

/VideoTestForAndroid/obj/
/VideoTestForAndroid/bin/
/VideoTestForAndroid/gen/
/VideoTestForAndroid/libs/
*.project
*.cproject

/IntrusionDetectLib/Debug/
/IntrusionDetectLib/Release/
*.jpg
*.avi
*.264
*.yuv
/IntrusionDetectLib/IntrusionDetectLib/Debug/
/IntrusionDetectLib/IntrusionDetectLib/Release/
/IntrusionDetectLib/TestForLib/Debug/
/IntrusionDetectLib/TestForLib/Release/