/videotest/Debug/
/videotest/Release/
/videotest/videotest2/Debug/
/videotest/videotest2/Release/
*.sdf
*.dll
*.aps
*.opensdf

/VideoTestForAndroid/obj/
/VideoTestForAndroid/bin/
/VideoTestForAndroid/gen/
/VideoTestForAndroid/libs/
*.project
*.cproject